<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body onload="initial();">
    <h1>Vue.js</h1>
    <div id="msg">
        <ol>
            <li v-for="obj in data">
                {{ obj }}
            </li>
        </ol>
        <hr>
        <select size="5" v-model="data" multiple>
            <option>Windows</option>
            <option>MacOs</option>
            <option>Linux</option>
            <option>Android</option>
            <option>iOS</option>
        </select>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>